#cir {
  margin: 0rem;
  padding: 1rem;
  background-color: #F3F4F5;
}

#cir .container {
  position: relative;
  margin: 0px auto;
}

#cir .following.menu .menu .active.item {
  font-weight: bold;
}

#cir .following.menu .item .menu {
  margin: 0em;
}

#cir .following.menu .menu .item {
  margin: 0em;
  padding: 0.5rem 0.25rem;
}

.statement-question-title {
  position: relative;
}

.statement-question-title.dragging:after {
  width: 100%;
  height: 100%;
  content: 'Drop to create a claim in this slot';
  position: absolute;
  z-index: 2;
  text-align: center;
  font-size: 16px;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  border: 2px dashed #2185d0;
}

#claim-list .src_claim {
  position: relative;
}

#claim-list .src_claim.dragging:after {
  width: 100%;
  height: 100%;
  content: 'Drop to merge into this claim';
  position: absolute;
  z-index: 11;
  text-align: center;
  font-size: 16px;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  border: 2px dashed #2185d0;
  visibility: initial;
}

#statement-container {
  font-size: 16px;
}

#new-claim-form .dropzone.dragging:after {
  border-radius: 0.29em;
  content: '';
  position: absolute;
  z-index: 11;
  bottom: 0;
  top: 0;
  border: 5px dashed #2185d0;
  left: 2em;
  right: 2em;
}