<div id="claim-comment-modal" class="ui small modal">
  <i class="close icon"></i>
  <div class="content" id="claim-comment-highlight"
       style="padding-bottom:0;"></div>
  <div class="content" id="claim-comment-list">
  </div>
</div>

<div class="ui modal" id="claim-merge-nugget-modal">
  <i class="close icon"></i>
  <div class="content">
    <div class="description">
      <div class="ui header">Please edit the claim.</div>
      <b>Current claim content:</b>
      <div class="claim-content"></div>
      <b>Dragged nugget:</b>
      <div class="nugget-content"></div>
      <div class="ui form">
        <textarea name="claim-nugget-merge"
                  id="claim-nugget-merge"
                  rows="3"></textarea>
      </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui primary approve right button">
      Submit
    </div>
  </div>
</div>

<div id="new-claim-form" class="ui bottom attached segment form" style="display:none">
  <div class="ui segment form">
    <div class="field">
      <textarea name="new-claim-content" id="new-claim-content"
                rows="3"></textarea>
    </div>
    <button class="ui button field" type="submit">Submit</button>
  </div>

  <div id="nugget-area" class="ui segment">
    <h3 class="ui header">
      Nuggets you selected
    </h3>
    <div class="ui dropzone droppable relaxed divided list" style="padding:0 2em;position:relative">
      <div class="ui placeholder segment" style="min-height:6em">
        <div class="ui header" style="margin:auto">Drop a nugget here.</div>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <h3 class="ui header">
      Consider using these nuggets...
      <div class="sub header" style="display:none;">
        These are less used, from similar origin with the ones you selected,
        have similar wording with your claim, may provide useful evidence.
      </div>
    </h3>
    <div class="ui top attached tabular menu">
      <div class="ui text menu reco-filter" style="margin:0;">
        <a class="active item">
          All Recommendations
        </a>
        <a class="item">
          New Items
        </a>
        <a class="item">
          Most Relevant
        </a>
      </div>
    </div>
    <div id="rec-to-use" class="ui relaxed divided list"
         style="padding:0 2em;position:relative"></div>
  </div>

  <section class="ui segment" style="display:none">
    <h3 class="ui header">
      Also take a look at these items...
      <div class="sub header" style="display:none;">
        These may duplicate / contradict with the claim-in-progress.
      </div>
    </h3>
    <div id="rec-fyi" class="ui relaxed divided list" style="padding:0 2em;position:relative"></div>
  </section>
</div>