{% for slot_info in categories %}
  <div class="ui vertical segment"
       data-id="{{ slot_info.id }}">
    <h3>Question: {{ slot_info.slot_title }}</h3>
    <button class="show-workspace" data-id="{{ slot_info.id }}"
            style="display:none;">
      open workspace
    </button>

    {% if slot_info.adopted_versions %}
      <div class="ui stacked segments" style="margin-top:1rem;">
        {% for stmt in slot_info.adopted_versions %}
          <div class="src_claim ui segment" data-id="{{ stmt.id }}"
               style="padding: 0 1rem;">
            <h4 style="margin: 1rem 0;">
              [Statement] {{ stmt.content | safe }}</h4>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="ui divided list" style="padding: 0 2em;">
      {% if slot_info.nuggets %}

        {% for src_claim in slot_info.nuggets %}
          <div class="src_claim item" style="cursor:move;padding:10px 0;" draggable="true"
               ondragstart="onDragStart(event)" data-id="{{ src_claim.id }}">
            <div class="content">
              {{ src_claim.content | safe }}
            </div>
            <div class="description action-bar"
                 style="margin-top: 10px; color:rgba(0,0,0,.4);">
              [{{ src_claim.id }}]
              <b>{{ src_claim.author_name }}</b> on {{ src_claim.created_at_pretty }}
              <div class="actions" style="float:right;">
                {% if src_claim.used_in_claims %}
                  <span>
                  Used in {{ src_claim.used_in_claims|length }} claims:
                  {% for to_claim in src_claim.used_in_claims %}
                    C{{ to_claim }}
                  {% endfor %}
                  </span>
                {% endif %}
                <span style="display:none">Used in</span>
                <a href="#" class="item comment-nugget">Comment</a>
                {% if src_claim.comment_number != 0 %}
                  <a href="#" class="item comment-nugget-number">({{ src_claim.comment_number }})</a>
                {% endif %}
                {% if src_claim.is_author %}
                  <span> | </span>
                  <a href="#" class="item delete-nugget">Delete</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        (No nuggets for now.)
      {% endif %}
    </div>
  </div>
{% endfor %}
