{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'phase1/layout',
            'realtime/socket'
        ]);
    </script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}

<!-- left panel -->
<div style="font-size:1.2em; position:fixed; top:40px; bottom:0; left:0; right:50%; margin:0 1em;">
	<div style="height: 100%;">
		<div class="ui top attached tabular menu">
            <div class="item">
                Document Pane
            </div>
			<div id="document-toc-container" class="ui special popup" style="min-width:400px; max-height:500px; overflow:auto;"></div>
			<div class="right menu">
                <a id="document-toc-button" class="item">
                    Table of Contents
                    <i class="large angle down icon"></i>
                </a>
			</div>
		</div>
		<div id="workbench-document-panel"
             class="ui bottom attached segment"
             style="height: calc(100% - 47px); overflow:hidden; overflow-y:scroll; ">
			<div id="workbench-document-container" style="border-radius: 0;">
				<div class="ui massive active text loader">Loading Documents...</div>
			</div>		
		</div>
	</div>
</div>

<!-- right panel -->

<div style="font-size:1.2em; position:fixed; top:40px; bottom:0; left:50%; right:0;">
    <div style="height: 100%;">
        <div class="ui top attached tabular menu">
            <div class="item">Nugget Pane</div>
            <div class="right menu">
                <a class="item">

                    <i class="large angle down icon"></i>
                </a>
            </div>
        </div>
        <div class="ui bottom attached segment"
             style="height: calc(100% - 47px); overflow:hidden; overflow-y:scroll;">
            <div id="workbench-nugget-list" class="ui divided list" style="border-radius: 0;"></div>
            <a href="#" id="nugget-list-back" style="display:none;">back to full list</a>
        </div>
    </div>

</div>

{% include 'qa/qa-wrapper.html' %}

{% include 'chatter.html' %}

{% include 'phase1/nugget_comment.html' %}
{% include 'phase1/nugget_toolbar.html' %}

{% endblock %}

